<!DOCTYPE html>
<html>
<body><head>
    <title>Preferences</title></head>
    <div>
        <form action="/apply_2" method = "post">
            <fieldset>
            <legend><b>Preferences</b></legend>
    <p>What type of housing application is this?</p>
    <input type="radio" name="gender" value="Elderly"> Elderly<br>
    <input type="radio" name="gender" value="Non-Elderly, Handicapped"> Non-Elderly, Handicapped<br>
    <input type="radio" name="gender" value="Congregate Elderly/Handicapped" > Congregate Elderly/Handicapped<br>
    <input type="radio" name="gender" value="Family"> Family<br>
    <input type="radio" name="gender" value="AHVP"> AHVP<br>
    <input type="radio" name="gender" value="MRVP"> MRVP<br>
            <p>Note:  To be eligible for elderly/handicapped housing you must be at least 60 years old or a person with a handicap.  If 
you have a handicap, the handicap must be other than a history of alcohol/drug abuse.  If you have a handicap, you must 
provide certification by a doctor clearly stating that you have a handicap and it is expected to be of long and indefinite in 
duration lasting at least six months.  In addition, the LHA will need to determine that certain special architectural features 
OR low rent housing is not available in the private market AND that the applicant is faced with living in an institution or 
decadent substandard housing OR the applicant is paying excessive rents. </p><br>
         
            <input type="checkbox" name="preference" value="Board of Health Condemnation"> Board of Health Condemnation 
            <input type="checkbox" name="preference" value="Disabled"> Disabled <br>
            <input type="checkbox" name="preference" value="Displaced by Hate Crimes, Reprisals"> Displaced by Hate Crimes, Reprisals 
            <input type="checkbox" name="preference" value="Displaced by Landlord Non-Renewal"> Displaced by Landlord Non-Renewal<br>
            <input type="checkbox" name="preference" value="Displaced by Natural Disaster"> Displaced by Natural Disaster
            <input type="checkbox" name="preference" value="Displaced by Public Action"> Displaced by Public Action<br>
            <input type="checkbox" name="preference" value="Displaced by Domestic Violence"> Displaced by Domestic Violence
            <input type="checkbox" name="preference" value="Elderly"> Elderly<br>
            <input type="checkbox" name="preference" value="Near Elderly (55+)"> Near Elderly (55+)
            <input type="checkbox" name="preference" value="Extremely Low Income"> Extremely Low Income<br>
            <input type="checkbox" name="preference" value="Health Condition (disability affecting housing need)"> Health Condition (disability affecting housing need)
            <input type="checkbox" name="preference" value="Homeless"> Homeless<br>
            <input type="checkbox" name="preference" value="Rent Burdened 50% of Income"> Rent Burdened 50% of Income
            <input type="checkbox" name="preference" value="Rent Burdened 40% of Income"> Rent Burdened 40% of Income<br>
            <input type="checkbox" name="preference" value="One-person  Family"> One-person  Family
            <input type="checkbox" name="preference" value="Substandard Housing (includes homeless)"> Substandard Housing (includes homeless <br>
            <input type="checkbox" name="preference" value="Client for Project Based Section 8 Unit"> Client for Project Based Section 8 Unit
            <input type="checkbox" name="preference" value="Tenant of Project Based Section 8 Unit"> Tenant of Project Based Section 8 Unit<br>
            <input type="checkbox" name="preference" value="Veteran"> Veteran
            <input type="checkbox" name="preference" value="Working"> Working<br>
            <input type="checkbox" name="preference" value="Participant in Metco Program in Wayland school"> Participant in Metco Program in Wayland school
            <input type="checkbox" name="preference" value="Activated Military Personnel to Persian Gulf"> Activated Military Personnel to Persian Gulf<br>
            <p><b>Local Preferences:</b> In addition to receiving local preference for the City or Town where you principally 
reside, you may receive local preference based on where you are employed. </p>
                
            Name of City in which you are employed:
            <input type="text" name="city" value=""><br>
                
            Dates of employment From:
                <input type="text" name="employment" value="">
                To:
                <input type="text" name="employment" value=""><br><br><br>
                
                
            If you wish to apply for Veteran Preference, list the dates of U.S. military service.  Include service dates for 
service in the U.S. Army, Marine Corps, Coast Guard, Air Force or National Guard. <br>
                From:
                <input type="text" name="employment" value="">
                To:
                <input type="text" name="employment" value=""><br>

    
    <input type="submit" value="Next">
    </form>
    </fieldset>
    </div>   
</body>
</html>
