<!DOCTYPE html>
<html>
    <head>
    <title>Personal Information:</title>
    <link type="text/css" rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    </head>
<body>
<div>
     <form class="w3-container" method = "post">
    <fieldset>
        <div class="w3-container w3-green">
  <h2>Personal Information:</h2>
</div>
    <label class = "w3-label w3-validate">First name:</label>
    <input class="w3-input" type="text" name="firstname" value="" required>
    <label class = "w3-label w3-validate">Middle name:</label>
    <input  class="w3-input" type="text" name="middlename" value="" required>
    <label class = "w3-label w3-validate">Last name:</label>
    <input class="w3-input" type="text" name="lastname" value="" required>
    <label class = "w3-label w3-validate">Addres:</label>
    <input class="w3-input" type="text" name="address" value="" required>
    <label class = "w3-label w3-validate">Apt No:</label>
    <input class="w3-input" type="text" name="aptno" value="" required>
    <br><br>   
    <label class = "w3-label w3-validate">City / Town:</label>
    <input class="w3-input" type="text" name="city" value="" required>
    <label class = "w3-label w3-validate">State:</label>
    <input class="w3-input" type="text" name="state" value="" required>
    <label class = "w3-label w3-validate">Zip:</label></label>
    <input class="w3-input" type="text" name="zipcode" value="" required><br><br> 
    <label class = "w3-label w3-validate">Home Telephone Number:</label>
    <input class="w3-input" type="text" name="homenum" value="" required>
    <label class = "w3-label w3-validate">Cell Phone Number:</label>
    <input class="w3-input" type="text" name="cellnum" value="" required>
    <br><br>
    <label class = "w3-label w3-validate">Best # to Reach Applicant:</label>
    <input class="w3-input" type="text" name="bestnum" value="" required>
    <label class = "w3-label w3-validate">Work Phone:</label>
    <input class="w3-input" type="text" name="worknum" value="" required>
    <br><br>
    <label class = "w3-label w3-validate">Mailing Address:</label>
    <input class="w3-input" type="text" name="mailaddress" value="" required>
    <label class = "w3-label w3-validate">Apt No:</label>
    <input class="w3-input" type="text" name="aptnno" value="" required>
    <br><br>
    <label class = "w3-label w3-validate">Mailing Address City / Town:</label>
    <input class="w3-input" type="text" name="mailcity" value="" required>
    <label class = "w3-label w3-validate">Mailing Address State:</label>
    <input class="w3-input" type="text" name="mailstate" value="" required>
    <label class = "w3-label w3-validate">Mailing Address Zip:</label>
    <input class="w3-input" type="text" name="mailzipcode" value="" required><br><br>
    <label class = "w3-label w3-validate">Social Security Number:</label>
    <input class="w3-input" type="text" name="SSN" value="" required><br><br>
        
     
    
          
    <div class="w3-container w3-green">
  <h2>Nationality:</h2>
</div> 
    <input class = "w3-check" type="checkbox" name="nationality1" value="White"> 
         <label class="w3-validate">White</label><br>
    <input class = "w3-check" type="checkbox" name="nationality2" value="Black"> 
             <label class="w3-validate">Black/African American</label><br>
    <input class = "w3-check" type="checkbox" name="nationality3" value="AmericanNative"> 
             <label class="w3-validate">American Indian/Alaska Native</label><br>
    <input class = "w3-check" type="checkbox" name="nationality4" value="PacificIslander"> 
             <label class="w3-validate">Native Hawaiian/Other Pacific Islander</label><br>
    <input class = "w3-check" type="checkbox" name="nationality5" value="Asian"> 
             <label class="w3-validate">Asian</label>
    
    <p><b>Is the head of household hispanic?</b></p>
    <input class="w3-radio" type="radio" name="hispanic" value="hispanic">
         <label class="w3-validate"> Yes</label>
    <input class="w3-radio" type="radio" name="hispanic" value="not hispanic">
         <label class="w3-validate"> No</label><br>
    <p>Data on race & ethnicity is collected in accordance with federal regulations. Your answers will not affect your application.</p>
       
    <button class="w3-btn w3-red">Next</button>
    </form>
         </fieldset>

   
    

</body>
</html>