<!DOCTYPE html>
<html>
<body><head>
    <title>Personal Information:</title></head>
<div>
    <form action="/apply" method = "post">
    <fieldset>
    <legend><b>Personal Information:</b></legend>
    First name:
    <input type="text" name="firstname" value="">
    Middle name:
    <input type="text" name="middlename" value="">
    Last name:
    <input type="text" name="lastname" value=""><br><br> 
    Address:
    <input type="text" name="address" value="">
     Apt No:
    <input type="text" name="aptno" value="">
    <br><br>   
    City / Town:
    <input type="text" name="city" value="">
    State:
    <input type="text" name="state" value="">
    Zip:
    <input type="text" name="zipcode" value=""><br><br> 
    Home Telephone Number:
    <input type="text" name="homenum" value="">
    Cell Phone Number:
    <input type="text" name="cellnum" value="">
    <br><br>
    Best # to Reach Applicant:
    <input type="text" name="bestnum" value="">
    Work Phone:
    <input type="text" name="worknum" value="">
    <br><br>
    Mailing Address:
    <input type="text" name="mailaddress" value="">
    Apt No:
    <input type="text" name="aptnno" value="">
    <br><br>
    Mailing Address City / Town:
    <input type="text" name="mailcity" value="">
    Mailing Address State:
    <input type="text" name="mailstate" value="">
    Mailing Address Zip:
    <input type="text" name="mailzipcode" value=""><br><br>
    Social Security Number:
    <input type="text" name="SSN" value=""><br><br>

     
    
             
    <p>Is the Head of Household (Check ALL that apply):</p> 
    <input type="checkbox" name="nationality1" value="White"> White<br>
    <input type="checkbox" name="nationality2" value="Black"> Black/African American<br>
    <input type="checkbox" name="nationality3" value="AmericanNative"> American Indian/Alaska Native<br>
    <input type="checkbox" name="nationality4" value="PacificIslander"> Native Hawaiian/Other Pacific Islander<br>
    <input type="checkbox" name="nationality5" value="Asian"> Asian
        
    <p>Is the Head of Household Hispanic?</p> 
    <input type="radio" name="hispanic" value="hispanic"> Yes
    <input type="radio" name="hispanic" value="not hispanic"> No<br>
    <p>Data on race & ethnicity is collected in accordance with federal regulations. Your answers will not affect your application.</p>
        
    <input type="submit" value="Next">
    </form>
         </fieldset>

   
    

</div><!--close container-->
</body>
</html>
