<!DOCTYPE html>
<html>
    <head>
    <title>Request</title>
        <link type="text/css" rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    </head>
<body>
    <div>
        
     <form class="w3-container" method = "post">
         <select class="w3-select" name="towns">
    <option value="" disabled selected>Choose your preferred town</option>
    <option value="1">Volvo</option>
    <option value="2">Saab</option>
    <option value="3">Fiat</option>
    <option value="4">Audi</option>
  </select>
  <br><br>
  <input type="submit" value="Finish">
</form>
    </body>




</html>