<!DOCTYPE html>
<html>
<body>
    <div>
        <head><title>Disabilities</title>
        </head>
    <form action="application.html" method = "post">
    <fieldset>
    <legend><b>Disabilities</b></legend>
        Do you have any special needs due to a disability or need a reasonable accommodation such as a 
first floor unit for medical reasons?<br>
    <input type="radio" name="Disability" value="True"> Yes
    <input type="radio" name="Disability" value="False"> No<br>
        
        Please Specify:<br>
        <textarea style="resize:none" name="message" rows="10" cols="30">
        </textarea><br>
        Do you need a wheelchair accessible apartment?  
    <input type="radio" name="wheelchair" value="True"> Yes
    <input type="radio" name="wheelchair" value="False"> No<br>
        
        Number of Bedrooms needed:<br>
    <input type="radio" name="bedrooms" value="1"> 1
    <input type="radio" name="bedrooms" value="2"> 2
    <input type="radio" name="bedrooms" value="3"> 3
    <input type="radio" name="bedrooms" value="4"> 4
    <input type="radio" name="bedrooms" value="5"> 5<br>
        
    Are you currently living in a non-permanent transitional housing which is subsidized under the 
Massachusetts Alternative Housing Voucher Program?  
    <input type="radio" name="transitional" value="True"> Yes
    <input type="radio" name="transitional" value="False"> No<br><br>
        
        
    Does anyone in your household own a car?
    <input type="radio" name="owncar" value="True"> Yes
    <input type="radio" name="owncar" value="False"> No<br>      
    <input type="submit" value="Finish">    
    </div>
</body>
</html>
